* {
    font-family: 'Helvetica Neue', sans-serif;
}
#jumbotron1 {
	background-image: url(/img/test-featured.jpg);
	background-size: 100%;
	background-repeat:no-repeat;
	background-position:center center;
}
#jumbotron2 {
	border-radius: 2px;
}
#solution-architect {
	color: #D46A6A;
}
#digital-strategist {
	color: #801515;
}
#product-owner {
	color: #407F7F;
}
#agile-coach {
	color: #0D4D4D;
}
#h1-amalik {
	color: #003333;
}
.h2-normal {
	color: #440027;
}
#big-data {
	color: #55AA55;
}
#crm {
	color: #116611;
}
#inbound {
	color: #004400;
}
#growthhacking {
	color: #D49A6A;
}
#e-commerce {
	color: #804515;
}
#mobile {
	color: #552700;
}
#punchline {
	color: #661141;
}
