body {
    font-family: benton-sans,'Helvetica Neue', sans-serif;
}
#jumbotron1 {
	background-image: url(/img/test-featured.jpg);
	background-size: 100%;
	background-repeat:no-repeat;
	background-position:center center;
}
#solution-architect {
	color: #D46A6A;
}
#digital-strategist {
	color: #801515;
}
#product-owner {
	color: #407F7F;
}
#agile-coach {
	color: #0D4D4D;
}
